* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #c0d1ea;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: #4c69c0a9;
    box-shadow: 14px 15px 17px -4px  #69696958;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    height: 50%;
    max-width: 1000px;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(2, 2, 101);
}

.user_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
}

.user_input_container {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

p{
    font-weight: bold;
    font-size: 1.4em;
}

#user_input {
    width: 70%;
    padding: 0.3rem;
}

#search_button {
    width: 25%;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: darkblue;
    font-size: medium;
    color: beige;
    border: 10px;
    box-shadow: 4px 5px 17px -4px #384270;
    outline: 2px solid #001bb283;
    font-weight: bold;
    cursor: pointer;
}

#search_button:hover {
    background-color: beige;
    color: darkblue;
}

.stats_container {
    margin: 1rem;
    display: none;
}

.circle {
    background-color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
}

.easy_circle {
    border: 4px solid rgb(11, 94, 27);
    color: rgb(11, 94, 27);
    background: conic-gradient(#1eb35f var(--progress-degree, 0%), #9bd3ae 0%);
}

.medium_circle {
    border: 4px solid rgb(157, 110, 9);
    color: rgb(157, 110, 9);
    background: conic-gradient(#e2bb1e var(--progress-degree, 0%), #eeee93 0%);
}

.hard_circle {
    border: 4px solid rgb(157, 9, 9);
    color: rgb(157, 9, 9);
    background: conic-gradient(#cb5252 var(--progress-degree, 0%), #f2c1c1 0%);
}


.circle span {
    position: relative;
    z-index: 2;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.stats_card {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.card {
    background-color: rgb(83, 21, 21);
    box-shadow: 5px 5px rgba(12, 12, 12, 0.125);
    color: white;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
}